$color__frp_red: #de3b3b;
$color__frp_red_faded: #d803037a;
$color__frp_gray: #404040;
$color__frp_gray-team: #dddddd;
$color__frp_white: #ffffff;
//$color__frp_white_faded: #80707070;
$color__frp_white_faded: #f5f5f599;
$color__frp_black_faded: rgba(0, 0, 0, 0.4);
$color__frp_black: #000000;
$color__frp_grey_faded: rgba(128, 112, 112, 0.6);

$color__frp_statistics_gray1: #ebebeb;
$color__frp_statistics_gray2: #d9d9d9;

$color__frp_services_gray: #cccccc;
$color__frp_services_black: #3c3a3a;
